body {
  width: 1000px;
}

.başlık {
  text-align: center;
  font-family: sans-serif;
  font-size: large;
}
.buton {

 text-align: center;
  display: flex;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: auto;
  
}
.görseller {
  text-align: center;
  background-color: rgb(240, 240, 235);
}
.Anasayfa{
  
  font-family: sans-serif;
  background-color: orange;
  color: white;
  margin-left: 40px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}
.hakkımızda {
  font-family: sans-serif;
  font-size: medium;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 45px;
}
.mor img {
  border-radius: 20px;
}
.yemek{
  display: flex;
  padding-left: 45px;
  
}
.yemekler {
  margin-left: 30px;
  font-family: sans-serif;
  font-size: medium;
}
.yumurta {
  display: flex;
  padding-left: 45px;
}
.aperatif {
  font-family: sans-serif;
  font-size: medium;
  margin-right: 30px;
}
.görsel img {
  border-radius: 20px;
}
.görsel_ img {
  border-radius: 20px;
}
.tatlı {
  display: flex;
  padding-left: 45px;
}
.tatlılar {
  margin-left: 30px;
  font-family: sans-serif;
  font-size: medium;

}
.iletişim {
  font-family: sans-serif;
  font-size: large;
  margin-left: 30px;
}

.alt {
  background-color: orange;
  margin-left: 30px;
}
.baslık{
  color: rgb(50, 45, 45);
  font-family: sans-serif;
}
.copyright {
  text-align: center;
  font-family: sans-serif;

}
.button {
  display: flex;

}
.Anasayfaa{
  text-decoration: underline;
  font-family: sans-serif;
font-size: large;
  color: black;
  margin-left: 40px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  
}